body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
}

b {
  color: #4f5b77;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.faded-text {
  color: #9B9B9B;
}
