.site-header {
  .navbar-default {
    padding-top: 25px;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-weight: 700;
    }
    ul > li > a {
      font-weight: 700;
    }
  }
}
.home {
  .jumbotron {
    background-color: white;
    padding-left: 15px;
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.glyphicon {
  color: #ED5565;
  font-size: 24px;
}
