.site-header {
  .navbar-default {
    padding-top: 25px;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-weight: 700;
    }
    ul > li {
      a {
        font-weight: 700;
        &#contact-btn {
          color: white;
          background-color: #80db9c;
          border-radius: 3px;
          &:hover {
            background-color: lighten(#80db9c, 3%);
          }
        }
      }
    }
  }
}
.home {
  .jumbotron {
    background-color: white;
    padding-left: 15px;
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.glyphicon {
  color: #80DB9C;
  font-size: 24px;
}

// PROGRESS BAR
.progress-bar {
  background-color: #80db9c;
  box-shadow: none;
}
