/**********************\
 * TABLE OF CONTENTS: *
\**********************/

// 1. HOME PAGE STYLING
// 2. SINGLE PAGE STYLING
// 3. SINGLE POST STYLING


// 1. Home Page Styling \\
.jumbotron {
  h1 {
    font-weight: 700;
  }
}
.landing-hero {
  height: 80vh;
}

.section {
  padding: 30px;
  .section-heading {
    font-weight: 700;
  }
  .item-block {
    margin-bottom: 30px;
  }
  .post-block {
    // TODO: Incorporate hover click.
    // &:hover {
    //   background-color: red;
    // }
    margin-bottom: 20px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
    p {
      color: #9B9B9B;
    }
    .glyphicon {
      font-size: 12px
    }
    .post-link {
      color: #4A4A4A;
      font-weight: 700;
    }
    .post-category {
      color: #ED5565;
      font-weight: 700;
    }
    .post-date {
      color: #9B9B9B;
    }
  }

  // Index grid layout
  .grid-layout {
    .grid-block {
      padding: 30px 15px;
    }
    .bg-color-1 {
      background-color: lighten(#373535, 5%);
    }
    .bg-color-2 {
      background-color: lighten(#373535, 7%);
    }
    .bg-color-3 {
      background-color: lighten(#373535, 9%);
    }
    .bg-color-4 {
      background-color: lighten(#373535, 11%);
    }
    .bg-color-5 {
      background-color: lighten(#373535, 13%);
    }
    .bg-color-6 {
      background-color: lighten(#373535, 15%);
    }
  }
}
.section-bg-salmon {
  background-color: #ED5565;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white;
  }
  p {
    margin-bottom: 50px;
  }
}
.section-bg-dark {
  padding: 50px 0;
  background-color: #292828;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white;
  }
  p.section-description {
    margin-bottom: 50px;
  }
}

// 2. Single Page Layout
.page {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}

// 3. Single Post Layout
.post {

}

// TRANSITIONS
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.two {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.four {
-webkit-animation-delay: 3.3s;
-moz-animation-delay: 3.3s;
animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
