/**********************\
 * TABLE OF CONTENTS: *
\**********************/

// 1. HOME PAGE STYLING
// 2. SINGLE PAGE STYLING
// 3. SINGLE POST STYLING


// 1. Home Page Styling \\
.jumbotron {
  h1 {
    font-weight: 700;
  }
}
.landing-hero {
  height: 80vh;
  .glyphicon-hand-down {
    padding-top: 10%;
    font-size: 4em;
    /* ANIMATION */
    animation-name: pointDown;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    animation-delay: 1.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }
}
@keyframes pointDown {
  from {
    top: 0;
  }
  to {
    top: 30px;
  }
}

.section {
  padding: 30px;
  p {
    color: #7f8ca8;
  }
  .section-heading {
    font-weight: 700;
  }
  .section-description {
    margin-bottom: 30px;
  }
  .item-block {
    margin-bottom: 30px;
  }
  .post-block {
    // TODO: Incorporate hover click.
    // &:hover {
    //   background-color: red;
    // }
    margin-bottom: 20px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
    p {
      color: #76829c;
    }
    .glyphicon {
      font-size: 12px
    }
    .post-type {
      margin-top: 40px;
      padding: 5px 5px;
      color: white;
      font-weight: 700;
      background-color: #80db9c;
    }
    .post-status {
      color: #4f5b77;
      font-weight: 700;
    }
    .post-link {
      font-weight: 700;
      color: #80db9c;
    }
    .post-link-text {
      color: #80db9c;
      font-weight: 700;
    }
    .post-date {
      color: #9B9B9B;
    }
  }

  // Index grid layout
  .grid-layout {
    .grid-block {
      padding: 30px 15px;
    }
    .bg-color-1 {
      background-color: lighten(#4f5b77, 5%);
    }
    .bg-color-2 {
      background-color: lighten(#4f5b77, 7%);
    }
    .bg-color-3 {
      background-color: lighten(#4f5b77, 9%);
    }
    .bg-color-4 {
      background-color: lighten(#4f5b77, 11%);
    }
    .bg-color-5 {
      background-color: lighten(#4f5b77, 13%);
    }
    .bg-color-6 {
      background-color: lighten(#4f5b77, 15%);
    }
  }

  form {
    input, textarea {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border: 3px solid #b1acac;
    }
    input {
      height: 40px;
    }
    textarea {
      resize: none;
    }
    .submit-btn {
      background-color: #80DB9c;
      border-radius: 3px;
      border: none;
      color: white;
      &:hover {
        background-color: lighten(#80db9c, 3%);
      }
    }
  }
}

// FOOTER
.site-footer {
  color: white;
  .social-link {
    margin: 0 7px;
    margin-bottom: 20px;
    color: #76829c;
    &:hover {
      color: #80db9c;
    }
  }
}
// sections with background colors
.section-bg-lime {
  background-color: #80db9c;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  p {
    margin-bottom: 50px;
    color: lighten(#90db9c, 20%);
  }
}
.section-bg-dark {
  padding: 50px 0;
  background-color: #4F5B77;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white;
  }
  p.section-description {
    margin-bottom: 50px;
  }
}

// 2. Single Page Layout
.page {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  .page-header {
    background-color: #292828;
    color: white;
  }
  .page-content {

  }
}

// 3. Single Post Layout
.post {
  .post-content {
    padding: 30px 0;
    font-size: 18px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
    h3 {
      color: #89db9c;
    }
    p {
      margin: 20px 0;
      color: #716f6f;
    }
    img {
      width: 100%;
    }
    .project-details {
      padding: 20px 15px;
      background-color: #4f5b77;
      color: white;
      p {
        color: #8b99b8;
        &.queded {
          color: grey;
        }
        &.in-progress {
          color: #fda58e;
        }
        &.completed {
          color: #89db9c;
        }
      }
    }
  }
}

// TRANSITIONS
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.two {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.four {
-webkit-animation-delay: 3.3s;
-moz-animation-delay: 3.3s;
animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
