---
layout: default
---
<div class="container">
  <article class="container-fluid post">
    <div class="container post-content">
      <div class="row col-md-8 col-md-offset-2 project-details">
        <div class="col-md-6">
          <h4>{{ page.title }}</h4>
          <P>{{ page.blurb }}</P>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <h4>Last Updated:</h4>
            <p>{{ page.lastUpdate | date: '%B %d, %Y' }}</p>
          </div>
          <div class="col-md-6">
            <h4>Status:</h4>
            {% assign status = page.status | upcase %}
            {% if status == 'IN PROGRESS' %}
            <p class="in-progress">{{ page.status | capitalize }}</p>
            {% elsif status == 'COMPLETED' %}
            <p class="completed">{{ page.status | capitalize }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
</div>
